@model string
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForgetPassword</title>
    <link rel="stylesheet" href="~/home/CSS/dForgetpsd.css">
</head>

<body>
    <form action="/home/ForgotPassword" method="post">
        <div class="con">
            <header class="head-form">
                <h2>忘記密碼</h2>
            </header>
            <div class="field-set">
                <div class="row1">
                    帳號/信箱：
                    <span class="inputBox">
                        <input type="text" name="Email" id="txtName" placeholder="輸入信箱" />
                </div>
            </div>
            <div style="width: 100%; text-align: center; font-size: 16px; color: red; ">@Model</div>
            <button type="submit" class="sendmail"> Send Mail </button>

</form>
</body>
</html>