
<form action="/Home/Login" method="post">
    <label>帳號</label>
    <input name="Email" type="text" />
    <label>密碼</label>
    <input name="Password" type="text" />
    <input type="submit" />
</form>