@{
    ViewData["Title"] = "Register";
}
<h1 class="text-center">註冊</h1>
<form action="/home/Register" method="post">
    <div class="row justify-content-center m-1">
        <label>帳號</label>
        <input name="userID" type="text" />
    </div>
    <div class="row justify-content-center m-1">
        <label>密碼</label>
        <input name="userPassword" type="text" />
    </div>
    <div class="row justify-content-center m-1">
        <input type="submit" />
    </div>
</form>