body,
html {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.781);
    margin: 0px;
}

/* The hero image */
.hero-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    /* position: relative; */
}

/* 字的顏色 */
.hero-image a{
    text-decoration:none;  /*隱藏超連結底線*/ 
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family:Trattatello, fantasy;
}

.hero-text {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 20px 50px;
    color: rgb(49, 28, 170);
    background-color: #5c677d;    /*按鈕背景顏色*/
    text-align: center;
    cursor: pointer;
    letter-spacing: 50px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius:30px
}

.hero-text button:hover {
    background-color: #7d8597;
    color: white;
}





