
<form action="/Home/Login" method="post">
    <label>帳號</label>
    <input name="UserName" type="text" />
    <label>密碼</label>
    <input name="UserPassword" type="text" />
    <input type="submit" />
</form>