
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <form action="/Student/Login" method="post">
        <div>
            <label for="email">信箱</label><br />
            <input type="text" name="Email" id="email" value="" /><br />
            <label for="password">密碼</label><br />
            <input type="text" name="Password" id="password" value="" /><br />
        </div><br />
        <input type="submit" value="登入" />
    </form><br />
    <a href="/Student/Sign">註冊</a>
</body>
</html>
