@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign</title>
</head>
<body>
    <form action="/Student/test" method="post">
        <div>
            <label for="email">帳號</label><br />
            <input type="text" name="Email" id="email" value="" /><br />
            <label for="password">密碼</label><br />
            <input type="text" name="PassWord" id="password" /><br />
            <label for="repassword">確認密碼</label><br />
            <input type="text" name="repassword" id="repassword" /><br />
            <input type="radio" name="Role" id="student" value="S" />
            <label for="student">學員</label>
            <input type="radio" name="Role" id="coach" value="C" />
            <label for="coach">教練</label><br />
            <input type="submit" value="註冊" />
        </div>
    </form>
</body>
</html>
